.todosContainer {
  width: 100%;
  height: 70%;
  min-height: 70%;

  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 1000px) {
  .todosContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.undoneTodos > .todoItem {
  background-color: #237bff;
}

.undoneTodos > .todoItem > .buttonContainer > .button {
  background-color: #eb06ff;
}

.doneTodos > .todoItem {
  background-color: #eb06ff;
}

.doneTodos > .todoItem > .buttonContainer > .button {
  background-color: #237bff;
}
