.app__form {
  height: 30%;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-100);
  margin-top: 0.6rem;
  border-radius: 0.8rem;
  box-shadow: 3px 5px 8px rgba(4, 25, 85, 0.25);
}

.app__form > .button {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  width: 8rem;
}

.app__form > .input {
  margin-top: 0.6rem;
}

.form__error-text {
  color: red;
}

@media screen and (max-width: 1000px) {
  .app__form {
    width: 40%;
  }
}

@media screen and (max-width: 640px) {
  .app__form {
    width: 90%;
  }
}
