.input-container {
  display: flex;
  flex-direction: column;
}

.input {
  border: none;
  background-color: #fff;
  color: #041955;
  border-radius: 1rem;
  height: 3rem;
  width: 14rem;
  box-shadow: inset 2px 4px 6px rgba(0, 0, 0, 0.25);
}

.input:focus {
  outline: none;
  box-shadow: inset 3px 5px 6px rgba(0, 0, 0, 0.25);
}

.input::placeholder {
  color: rgba(52, 80, 161, 0.25);
  margin-right: 0.4rem;
}

.label {
  margin-top: 1rem;
}

@media screen and (max-width: 1250px) {
  .input {
    width: 10rem;
  }
}

@media screen and (max-width: 1000px) {
  .input {
    width: 12rem;
  }
}
